<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Error</title>
</head>
<body>
<script type="text/javascript">
   alert('${error}')
   window.location = '/index/list';
</script>
</body>
</html>