.DS_Store
dump.rdb
namer-server/dependency-reduced-pom.xml
piper/dependency-reduced-pom.xml
vera-namer.iml
remoting/target/
vera.iml
common/target/
namer-server/target/
piper/target/
store/target/
remoting/remoting.iml
common/common.iml
namer-server/namer-server.iml
store/store.iml
piper/piper.iml
logs/
.idea/
vera-refactor.iml
unit1/
unit2/
hs_err_pid19966.log
