<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">

	<Properties>
		<Property name="local.logging.path">./logs</Property>
		<Property name="logging.file.path">${local.logging.path}/${project.name}</Property>
		<Property name="action.file.path">${logging.file.path}</Property>
		<Property name="project.name">piper</Property>
		<Property name="logging.file.name">${sys:logging.file.path}/${project.name}.log</Property>
		<Property name="logging.file.warn.name">${sys:logging.file.path}/${project.name}-warn.log</Property>
		<Property name="logging.file.error.name">${sys:logging.file.path}/${project.name}-error.log</Property>
		<Property name="layout">%d %p [%t] %c{10}:%M:%L %m%n</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${layout}" />
		</Console>

		<RollingRandomAccessFile name="RollingRandomAccessFile"
			immediateFlush="true" fileName="${logging.file.name}"
			filePattern="${logging.file.name}-%d{yyyy-MM-dd-HH}">
			<PatternLayout pattern="${layout}" />
			<ThresholdFilter level="debug" />
			<TimeBasedTriggeringPolicy />
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="RollingRandomAccessFileWarn"
			immediateFlush="true" fileName="${logging.file.warn.name}"
			filePattern="${logging.file.warn.name}-%d{yyyy-MM-dd}">
			<PatternLayout pattern="${layout}" />
			<ThresholdFilter level="warn" />
			<TimeBasedTriggeringPolicy />
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="RollingRandomAccessFileError"
			immediateFlush="true" fileName="${logging.file.error.name}"
			filePattern="${logging.file.error.name}-%d{yyyy-MM-dd}">
			<PatternLayout pattern="${layout}" />
			<ThresholdFilter level="error" />
			<TimeBasedTriggeringPolicy />
		</RollingRandomAccessFile>

	</Appenders>

	<Loggers>

		<Logger name="org.springframework.transaction" level="debug" />

		
		<Root level="info">
			<!--<AppenderRef ref="Console" level="${sys:logging.console.level:-debug}"/>-->
			<AppenderRef ref="Console"/>
			<AppenderRef ref="RollingRandomAccessFile" />
			<AppenderRef ref="RollingRandomAccessFileWarn" />
			<AppenderRef ref="RollingRandomAccessFileError" />
		</Root>

	</Loggers>
</Configuration>